
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }
  
  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
  html {
    font-size: 62.5%; }
  body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222; 
    padding: 2% 0% 0% 0%;
    height: 100%;
    max-height: 93vh;
}
  
  
  /* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300; }
  h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
  h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
  h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
  h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
  h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
  h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
  
  /* Larger than phablet */
  @media (min-width: 550px) {
    h1 { font-size: 5.0rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 3.0rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }
  }
  
  p {
    margin-top: 0; }
  
  
  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  a {
    color: #1EAEDB; }
  a:hover {
    color: #0FA0CE; }
  
  
  /* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0; }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; }
  
  
  /* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; }
  /* Removes awkward default styles on some inputs for iOS */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }
  fieldset {
    padding: 0;
    border-width: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline; }
  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }
  
  
  /* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  ul {
    list-style: circle inside; }
  ol {
    list-style: decimal inside; }
  ol, ul {
    padding-left: 0;
    margin-top: 0; }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }
  li {
    margin-bottom: 1rem; }
  
  
  /* Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px; }
  pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre; }
  
  
  /* Tables
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  
  
  /* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  button,
  .button {
    margin-bottom: 1rem; }
  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 1.5rem; }
  pre,
  blockquote,
  dl,
  figure,
  table,
  p,
  ul,
  ol,
  form {
    margin-bottom: 2.5rem; }
  
  
  /* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .u-full-width {
    width: 100%;
    box-sizing: border-box; }
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  
  
  /* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }
  
  
  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display: table;
    clear: both; }
  
  
  /* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons section and style it
  there.
  */
  
  
  /* Larger than mobile */
  @media (min-width: 400px) {}
  
  /* Larger than phablet (also point when grid becomes active) */
  @media (min-width: 550px) {}
  
  /* Larger than tablet */
  @media (min-width: 750px) {}
  
  /* Larger than desktop */
  @media (min-width: 1000px) {}
  
  /* Larger than Desktop HD */
  @media (min-width: 1200px) {}
  
   .dropbtn {
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #333;
    color: white;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown:hover .dropdown-content {
      display: block;
    }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10000;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #333;
    color: white;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0% 10% 0% 10%;
    margin-top: 2%;
    flex-wrap: wrap;
  }

  .sign-buttons {
    display: flex;
    justify-content: space-evenly;
  }

  form.search-form button {
    float: left;
    width: 40px;
    padding: 10px;
    background: white;
    color: rgba(65, 65, 65, 0.795);
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    margin-left: 3%;
  }

  .search {
      display: flex;
      justify-content: center;
      height: 100%;
      max-height: 75vh;
      width: 100%;
      background-image: url("./images/bighouse.jpeg");
      background-repeat: no-repeat;
      background-size: 100% 125%;
      background-position: center; 
  }

  .search1 {
    display: flex;
    justify-content: center;
    height: 100%;
    max-height: 75vh;
    width: 100%;
    background-image: url("./images/bighouse.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 125%;
    background-position: center; 
}

  .search-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    vertical-align: middle;
    max-width: 90vh;
    width: 90%;
}

  .input {
      display: flex;
      align-self: center;
  }

  .input1 {
    display: flex;
    align-self: center;
    max-width: 90vh;
    width: 1500%;
}

.flex-columns {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-weight: bolder;
    max-height: 30vh;
    height: 100%;
}

.columns {
    border: 1px solid gray;
    margin: 1vh 1vh 1vh 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 300vh;
    height: 100%;
    border-radius: 4px;
}

.text-flex {
    margin-top: 2vh;
    display: flex;
    align-self: center;
}

.image1 {
    padding-left: 3%; 
    max-height: 45vh;
    max-width: 45vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.image2 {
    height: 100%;
    width: 20%;
    max-height: 30vh;
    max-width: 15vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}
.image3 {
    height: 100%;
    width: 60%;
    max-height: 70vh;
    max-width: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

.picture {
    max-height: 90%;
    height: 70%;
}

.map {
    width: 100%;
    height: 100%;
    max-width: 205vh;
    max-height: 85vh;
    /* border: 1px dotted black; */
    display: flex;
    justify-content: center;
    /* border: solid black 1px; */
}

.title {
  display: flex;
  justify-content: center;
}

.title1 {
    display: flex;
    justify-content: center;
    margin: 5px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    max-height: 3vh;
    height: 60%;
}

.input5:hover {
    display: flex;
    justify-content: center;
}

.signup-form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-self: center;
    max-width: 205vh;
    max-height: 70vh;
    width: 60%;
    height: 50%;
}

.signup {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: solid 1px gray; */
    max-width: 205vh;
    max-height: 70vh;
    width: 60%;
    height: 50%;
    align-self: center;
}

.sign {
  background-color: rgba(175, 173, 173, 0.438);
  color: black;
}

.sign:hover {
  color: white;
}

.pop-up {
  /* display: none; */
  display: flex;
  border: solid 1px black;
  max-width: 205vh;
  max-height: 80vh;
  width: 100%;
  height: 100%;
}

.popups {
  display: flex;
  flex-direction: row;
}

.popup-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 2% 0% 2%;
  border: solid 1px black;
  max-width: 120vh;
  max-height: 80vh;
  height: 100%;
  width: 100%;
}

.popup-image {
  max-width: 30vh;
  max-height: 30vh;
  margin: 5% 5% 5% 5%;
  height: 100%;
  width: 100%;
  
}

.charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 2% 0% 2%;
  max-width: 40vh;
  max-height: 80vh;
  width: 100%;
  height: 100%;
  border: solid 1px black;
}

.chart {
  display: flex;
  justify-content: center;
  margin: 3% 0% 3% 0%;
  max-width: 40vh;
  max-height: 25vh;
  width: 100%;
  height: 100%;
  border: solid 1px black;
}

.listing {
  max-width: 205vh;
  max-height: 90vh;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.zip-image {
  max-width: 20vh;
  max-height: 20vh;
  height: 60%;
  width: 60%;
}

.zip-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
}

.charts1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0% 2% 0% 2%;
  max-width: 90vh;
  max-height: 40vh;
  width: 100%;
  height: 100%;
  border: solid 1px black;
  align-self: center;
}

.zip-text {
  display: flex;
}

.chart1 {
  display: flex;
  justify-content: center;
  margin: 3% 1% 3% 1%;
  max-width: 40vh;
  max-height: 30vh;
  width: 100%;
  height: 100%;
  border: solid 1px black;
}

.zip-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.zip-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
}